<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107827593920-eeee89qdblksqhr45prarak74fopr6vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107827593920-eeee89qdblksqhr45prarak74fopr6vr</string>
	<key>API_KEY</key>
	<string>AIzaSyCQaNUaIuyZ66nY_NASlpJ6M8eDCLZTnOc</string>
	<key>GCM_SENDER_ID</key>
	<string>107827593920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sitora.com.heart-tracker</string>
	<key>PROJECT_ID</key>
	<string>heart-rate-tracker-33121</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-rate-tracker-33121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107827593920:ios:61efbbf7e9d0d5fa</string>
	<key>DATABASE_URL</key>
	<string>https://heart-rate-tracker-33121.firebaseio.com</string>
</dict>
</plist>